/* Color */
@primary-color: #3B73F0;  // 全局主色
@link-color: #1890ff;     // 链接色
@success-color: #22BF87;  // 成功色
@warning-color: #F67770;  // 警告色
@error-color: #F35248;    // 错误色

/* 中性色 */
@gray-0: #202020;
@gray-1: #5B5B5B;
@gray-2: #949494;
@gray-9: #F6F6F8;
@gray-10: #FFFFFF;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    line-height: 1.5;
    background-color: @gray-10;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: @gray-0;
}

img {
    display: block;
}

